<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <style>
         @font-face {
        src: url(Poppins-Regular.ttf);
        font-family: pop;
      }
      @font-face {
        src: url(Poppins-BlackItalic.ttf);
        font-family: popBold;
      }
      * {
        font-family: pop;
      }

      body {
        margin: 0;
        padding: 0;
        color: #333;
        background-image: linear-gradient(
          rgba(247, 173, 195, 0.3),
          rgba(248, 248, 172, 0.3)
        );
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
      }

#big {
  font-size: 30px;
}

.flex {
  display: flex;
  justify-content: center;
}

#img1 {
  margin-right: 12px;
  margin-top: 15px;
  height: 65px;
}

.header {
  text-align: center;
  padding: 20px 0;
  border-bottom: 2px solid #e1e1e1;
}

.header h1 {
  margin: 0;
  font-size: 24px;
  color: #ff0051;
}

.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 0px;
}

.form-group {
  margin-bottom: 15px;
  margin-top: 30px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.error{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}
.form-group input:focus {
  border-color: #ff0051;
  outline: none;
}

.form-group button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 4px;
  background-color: #ff0051;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-group button:hover {
  background-color: #e60046; 
}

#align {
  text-align: center;
  font-weight: bold;
}
.toggle-container {
   display: flex;
   align-items: center;
   margin-top: 10px;
}
.toggle-container input {
   margin-right: 5px;
}
#togglePassword,#togglePassword2{
  display: none;
}
@media (min-width: 600px) {
  .container {
    padding: 30px;
  }

  .form-group input {
    font-size: 18px;
  }
  .error{
    font-size:14px;
  }
  .form-group button {
    font-size: 18px;
  }
  #align{
    font-size: 15px;
  }
}

@media (min-width: 992px) {

  .form-group input{
    font-size: 20px;
  }
  .error {
    font-size:16px;
  }
  .form-group button {
    font-size: 20px;
  }
}


@media (max-width: 599px) {
  body {
    height: auto; 
  }

  .header h1 {
    font-size: 20px;
  }

  .container {
    margin: 20px;
    top: 0;
  }
  #align{
    font-size:14px;
  }
  .error{
    font-size:14px;
  }
}

    </style>
</head>
<body>
    <nav>
        <div></div>
        <div class="flex">
          <img src="shopping-cart (1).png" alt="shopping" id="img1">
          <p id="big">FreshFits</p>
        </div>
        <div></div>
      </nav>
      <div id="align"><%= message %></div>
    <div class="container">
        <div class="header">
            <h1>Reset Password</h1>
          </div>
        <form class="form-group" action="/user/NewPassword" method="POST">
            <label for="new-password">New Password:</label>
            <input type="password" id="new-password" name="newPassword" required>
            
            <div class="toggle-container">
            <input type="checkbox" id="togglePassword" onclick="togglePasswordVisibility()">
            <label for="togglePassword" id="showhide">Show Password</label>
            </div>
            <div class="error"><%= password %></div>
            <label for="new-password2">Enter New Password again:</label>
            <input type="password" id="new-password2" name="newPassword2" required>
            <div class="toggle-container">
            <input type="checkbox" id="togglePassword2" onclick="togglePasswordVisibility2()">
            <label for="togglePassword2" id="showhide2">Show Password</label>
          </div>
          <br>
            <button type="submit">Reset Password</button>
        </form>
    </div>
    <script>
       function togglePasswordVisibility() {
            const passwordField = document.getElementById('new-password');
            const togglePassword = document.getElementById('togglePassword');
            const pass=document.getElementById("showhide");
            if (togglePassword.checked) {
                passwordField.type = 'text';
                pass.textContent="Hide Password";
            } else {
                passwordField.type = 'password';
                pass.textContent="Show Password";
            }
        }
        function togglePasswordVisibility2() {
            const passwordField = document.getElementById('new-password2');
            const togglePassword = document.getElementById('togglePassword2');
            const pass=document.getElementById("showhide2");
            if (togglePassword.checked) {
                passwordField.type = 'text';
                pass.textContent="Hide Password";
            } else {
                passwordField.type = 'password';
                pass.textContent="Show Password";
            }
        }
    </script>
</body>
</html>
