<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <style>
        @font-face {
        src: url(Poppins-Regular.ttf);
        font-family: pop;
      }
      @font-face {
        src: url(Poppins-BlackItalic.ttf);
        font-family: popBold;
      }
      * {
        font-family: pop;
      }

      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        color: #333;
        background-image: linear-gradient(
          rgba(247, 173, 195, 0.3),
          rgba(248, 248, 172, 0.3)
        );
        background-repeat: no-repeat;
        background-size: cover;
        height: 730px;
      }
   
      #big {
        font-size: 30px;
      }
      .flex {
        display: flex;
        justify-content: center;
      }
      #img1 {
        margin-right: 12px;
        margin-top: 15px;
        height: 65px;
      }
      .header h1 {
        margin: 0;
        font-size: 24px;
        color: #ff0051;
      }
.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    position: relative;
    top: 40%;
    left:50%;
    transform: translate(-50%,-50%);
}

h1 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"] {
    width: 96%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}

button{
    background-color: #ff0051;
}

#response-message {
    margin-top: 15px;
}
#align{
  text-align: center;
  font-weight: bold;
}
    </style>
</head>
<body>
    <nav>
        <div></div>
        <div class="flex">
          <img src="shopping-cart (1).png" alt="shopping" id="img1">
          <p id="big">FreshFits</p>
        </div>
        <div></div>
      </nav>
      <div id="align"><%= message %></div>
    <div class="container">
        <h1>Forgot Password</h1>
        <p>Enter your email address below to receive an OTP to reset your password.</p>
        <form id="forgot-password-form" action="/user/ResetPassword" method="POST">
            <label for="email">Email Address:</label>
            <input type="email" id="email" name="email" required>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
